ion-row{
    margin-top: 10px
}

ion-col{
    position: relative;
}

.item-native{
    padding: 0 !important;
}
ion-col.right{
    padding: 0 !important;
}
ion-col.left{
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
}
ion-select{
    height: 56px;
    --margin-top: 8px;
    --margin-bottom: 8px;
    padding-left: 8px;
    background-color:  var(--ion-color-primary);
    position: absolute;
    top: 6px;
    left: -2px;
    // 
    overflow-x: hidden;
    color: #fff
}
ion-card{
    margin: 0;
    margin-bottom: 4px;
    width: 100%;
}
ion-card-content{
    padding-left: 0px;
}
.input{
    width: 100%;
    position: absolute;
    top: 6px;
    height: 44px;
    padding: 0 10px;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
    outline: none
}
.input:focus{
    border: 1px solid var(--ion-color-primary)
}
.btn{
    width: 95%;
    position: absolute;
    top: 6px;
    height: 44px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    color: #000;
    // position: relative;
    overflow: hidden;
}
.btn span{
    color: #fff
}
