<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ravitaillement-emballage-step</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
      <h3>emballage Entrés</h3>
      <ion-card-content>
        <ion-list>
          <ion-item-sliding>
            <ion-item-options side="end">
              <ion-item-option color="danger">Supprimer</ion-item-option>
            </ion-item-options>
            <div *ngFor="let cs of casiers">
              <ion-item *ngIf="cs.transaction == transactionTypeIn">
                <ion-label slot="start">{{cs.nom}}</ion-label>
                <ion-label slot="end">{{cs.qte}}</ion-label>
              </ion-item>
            </div>
          </ion-item-sliding>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row style="height: 43px; margin-bottom: 20px;">
        <ion-col size="5" class="right">
          <input type="number" #qte_casier class="input" inputmode="text" placeholder="quantité" mode="md"/>
        </ion-col>
        <ion-col size="3" class="left">
          <ion-select style="height: 43px;" #casier mode="ios" id="categorie" placeholder="Casiers" fill="outline">
            <ion-select-option *ngFor="let cs of typeCasiers" [value]="cs">{{cs.nom}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="4">
          <div class="btn ion-activatable" (click)="addCasier(transactionTypeIn, casier.value, qte_casier)">
            <ion-ripple-effect></ion-ripple-effect>
            <span>Ajouter</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-card>
        <h3>emballage sortis</h3>
        <ion-card-content>
          <ion-list>
            <div *ngFor="let cs of casiers">
              <ion-item-sliding *ngIf="cs.transaction == transactionTypeOut">
                <ion-item-options side="end">
                  <ion-item-option color="danger">Supprimer</ion-item-option>
                </ion-item-options>
                  <ion-item>
                    <ion-label>{{cs.nom}}</ion-label>
                  </ion-item>
                </ion-item-sliding>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-row style="height: 43px; margin-bottom: 20px;">
        <ion-col size="5" class="right">
          <input type="number" #qte_casier_out class="input" inputmode="text" placeholder="quantité"  mode="md"/>
        </ion-col>
        <ion-col size="3" class="left">
          <ion-select style="height: 43px;" #casier_out mode="ios" id="categorie" placeholder="Casiers" fill="outline">
            <ion-select-option *ngFor="let cs of typeCasiers" [value]="cs">{{cs.nom}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="4">
          <div class="btn ion-activatable" (click)="addCasier(transactionTypeOut, casier_out.value, qte_casier_out)">
            <ion-ripple-effect></ion-ripple-effect>
            <span>Ajouter</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button (click)="prev()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="next()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
