<ion-header [translucent]="true" mode="md" class="no-shadow">
  <ion-toolbar>
    <div class="d-flex" routerLink="/">
      <div class="img ion-activatable">
        <img src="assets/icon/back-button.png" class="back-btn" alt="">
        <ion-ripple-effect class="ripple"></ion-ripple-effect>
      </div>
      <ion-title class="ion-text-center">Employés</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="custom_list">
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let employe of employes" #slidingItem>
        <ion-item button (click)="gotoFamilleDetail(employe)">
          <ion-avatar slot="start" style="border: 1px solid #8d8d8d;display: flex;justify-content: center;align-items: center;">
            <ion-icon name="person" size="large"></ion-icon>
          </ion-avatar>
          <div class="list ">
            <div class="title">{{employe.nom}}</div>
            <small>{{employe.phone1}}</small>
          </div>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="delete(employe, slidingItem)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/add-update-employe/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
