ion-title{
    margin-right: 40px;
}
form{
    margin-top: 25px;
}
ion-card.select{
    min-width: 50px !important;
}
ion-col{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    ion-card{
        width: 100%;
    }
}