.inline-input{
    display: flex;
    align-items: center;
    // width: 100%;
    ion-icon{
        // position: absolute;
        padding: 1px;
        border-radius: 50%;
        z-index: 2;
    }
    ion-icon:nth-child(1){
        // left: -8px;
        background-color: blue;
    }
    ion-icon:nth-child(3){
        // right: -8px;
        background-color: green;
    }

}

ion-col.center{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
}
.ng-invalid{
    border: 1px solid rgb(159, 1, 1);
}
.input{
    margin-bottom: 0;
}