.inline-input{
    display: flex;
    align-items: center;
    // width: 100%;
    ion-icon{
        // position: absolute;
        padding: 1px;
        border-radius: 50%;
        z-index: 2;
    }
    ion-icon:nth-child(1){
        // left: -8px;
        background-color: blue;
    }
    ion-icon:nth-child(3){
        // right: -8px;
        background-color: green;
    }

}
input{
    border: 1px solid blue;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
    padding-left: 8px;
    padding-right: 10px;
    height: 32px;
    outline: none;
}
input[type='number']{
    text-align: right;
}
ion-col.center{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
}
.ng-invalid{
    border: 1px solid rgb(159, 1, 1);
}