<ion-header [translucent]="true" mode="md" class="no-shadow">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{action == "update" ? 'Modifier ' : 'Ajouter un '}} la catégorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="categorieForm" (ngSubmit)="submit()">
    
    <div class="input">
      <ion-label>Nom *</ion-label>
      <input type="text" formControlName="nom" placeholder="Entrez le nom de la catégorie" />
      <div *ngIf="categorieForm.get('nom')?.touched && categorieForm.get('nom')?.invalid">
        <div *ngIf="categorieForm.controls['nom'].errors && categorieForm.controls['nom'].errors['required']" class="error-message">
          <small>Valeur Requise.</small>
        </div>
      </div>
    </div>
    
    <div class="input">
      <ion-label>Description</ion-label>
      <textarea type="text" rows="5" formControlName="description" placeholder="Tapez une description"></textarea>
      <div *ngIf="categorieForm.get('description')?.touched && categorieForm.get('description')?.invalid">
        <div *ngIf="categorieForm.controls['description'].errors && categorieForm.controls['description'].errors['required']" class="error-message">
          <small>Valeur Requise.</small>
        </div>
      </div>
    </div>
    
    <ion-button type="submit" mode="ios" expand="block" class="btn">{{action == "update" ? 'Modifier' : 'Ajouter'}}</ion-button> 
  </form>
  
</ion-content>

