<ion-header [translucent]="true" mode="md" class="no-shadow">
  <ion-toolbar>
    <div class="d-flex" routerLink="/">
      <div class="img ion-activatable">
        <img src="assets/icon/back-button.png" class="back-btn" alt="">
        <ion-ripple-effect class="ripple"></ion-ripple-effect>
      </div>
      <ion-title class="ion-text-center">Dépenses</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="custom_list">
    <ion-list lines="none" mode="ios">
      <ion-item-sliding  style="position: relative;" *ngFor="let depense of depenses" #slidingItem>
        <!-- <div class="triangle"></div> -->
        <ion-item button>
          <div class="list ">
            <div class="title">{{depense.categorie_nom}}</div>
            <div class="sub-bloc" slot="end">
              <div class="left">
                <div class="badge">Voir detail</div>
              </div>
              <div class="right">
                <div class="text">{{depense.montant | customCurrency}}</div>
                <div class="date">{{depense.date | date}}</div>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="delete(depense, slidingItem)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/add-update-depense/add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>