<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ravitaillement-confirmation-step</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button (click)="prev()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
